.container {
  box-sizing: border-box;
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-image: url("../images/autumn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 614px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.row {
  background-color: rgba(197, 132, 12, 0.596);
  padding: 1rem;
  border-radius: 0.5rem;
}

.img {
  height: 4.5rem;
}

@media (max-width: 430px) {
  .container {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .row {
    padding: 0.5rem;
  }
  .img {
    height: 3.5rem;
  }
}
