.container {
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-image: url("../images/autumn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 550px;
  margin: 0 auto;
}

.row {
  background-color: rgba(197, 132, 12, 0.596);
  padding: 0.25rem;
  border-radius: 0.5rem;
}

@media (max-width: 430px) {
  .container {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .img {
    height: 80px;
  }
}
