.main {
  display: flex;
}
.header {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
.group {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  padding: 0.25rem;
  justify-content: space-between;
}
.btnClose {
  margin: 0 0 0 auto;
}
.popupBtn {
  display: block;
  margin: 1rem auto;
}
