.component {
  background-image: url('../images/input-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  border-radius: 1rem;  
  max-width: 550px;
  margin: 1rem auto;
}
.form {
  margin: 1rem;
}

.input {
  color: rgb(95, 56, 34);
  font-weight: bold;
  background-color: rgb(255, 234, 206);
  padding: 0.5rem 1rem;
  width: 10rem;
  margin: 0.5rem;
  border-radius: 10px;
  border: 1px rgb(255, 115, 0) solid;  
}

.input:focus {  
  background-color: rgb(253, 253, 219);    
  outline: none;  
}

.city {
  color: rgb(255, 255, 255);
  background-color: rgba(167, 100, 1, 0.616);  
  border-radius: 0.5rem;
  display: inline-block;
  margin: 0.25rem;
}

@media (max-width: 430px) {
  .component {
    background-color: #9d9d9d;
    padding: 0.5rem;
    border-radius: 1rem;
    
  }
  .form {
    margin: 0.5rem;
  }
}
