.input {
  background-color: #9d9d9d;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.form {
  margin: 1rem;
}

@media (max-width: 430px) {
  .input {
    background-color: #9d9d9d;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
  }
  .form {
    margin: 0.5rem;
  }
}
