.leaflet-container {
  height: 25vh;
  margin: 0 auto 1rem auto;
  border-radius: 1rem;
  max-width: 614px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

button {
  border: 1px rgb(255, 115, 0) solid;
  background-color: white;
  border-radius: 0.5rem;
}
button:hover {
  background-color: rgb(255, 214, 181);
}

@media (max-width: 430px) {
  .leaflet-container {
    height: 25vh;
    width: (100vw - 1rem);
    border-radius: 0.8rem;
  }
}
