.leaflet-container {
  height: 20vh;
  margin: 0 auto 1rem auto;
  border-radius: 1rem;
  max-width: 582px;
}

@media (max-width: 430px) {
  .leaflet-container {
    height: 25vh;
    width: (100vw - 1rem);
    border-radius: 1rem;
  }
}
