.dashboard {
  display: flex;
  background-image: url('../images/autumn.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  border-radius: 1rem;
  overflow-y: scroll;
  max-width: 550px;
  margin: 0  auto; 
}

.default {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 632px;
  background-color: rgba(76, 179, 248, 0.37);
  border-radius: 1rem;
  padding: 1rem 0;
}