.dashboard {
  display: flex;
  background-image: url("../images/autumn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.35rem;
  border-radius: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 614px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
