.dashboard {
  display: flex;
  background-image: url("../images/autumn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  border-radius: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 550px;
  margin: 0 auto;
}
