@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    background: url('./images/background.jpg') no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    background-position: center;
    height: 100vh;
}