.header {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 582px;
  background-color: rgba(76, 179, 248, 0.37);
  border-radius: 1rem;
  padding: 0.5rem 0;

}

@media (max-width: 430px) {
  .header {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
}
