.header {
  text-align: center;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text {
  width: 70%;
  margin: 0;
}

.button {
  color: white;
  font-weight: 700;
  height: 48px;
  width: 64px;
  border: none;
  border-radius: 0.5rem;
}
.button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem white;
}

.button-ukr {
  background: url("../images/ukr.png");
  background-position: center;
  background-size: cover;
}

.button-uk {
  background: url("../images/uk.png");
  background-position: center;
  background-size: cover;
}

.favourite {
  border: none;
  background: transparent;
  padding-top: 5px;
  border-radius: 5rem;
}
.favourite:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem white;
  background: transparent;
}

.favourite img {
  height: 48px;
}

@media (max-width: 500px) {
  .header {
    font-size: 1.2rem;
  }
  .text {
    font-size: 1.5rem;
  }
  .button {
    height: 24px;
    width: 32px;
    font-size: 0.6rem;
  }
  .favourite img {
    height: 24px;
  }
}
